$breakpoints: (
  // (640px and up)
  s: 40em,
  // (768px and up)
  m: 48em,
  // (1024px and up)
  l: 64em,
  // (1280px and up)
  xl: 80em
);
@mixin breakpoint($name) {
  @if not map-has-key($breakpoints, $name) {
    @warn "Warning: `#{$name}` is not a valid breakpoint name.";
  } @else {
    @media (min-width: map-get($breakpoints, $name)) {
      @content;
    }
  }
}
